* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-image: url(./IMAGES/galaxy.gif);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  /* font-size: 2rem; */
  font-family: "Press Start 2P", "cursive";
  font-size: 20px;
  color: beige;
  text-align: center;
  font-weight: bolder;
  margin: 30px auto;
  padding: 1.5em;
  line-height: 30px;
}

.textBox {
  text-align: center;
  height: 30px;
  width: 100px;
  outline: none;
  margin-right: 10px;
}

.button {
  color: white;
  font-weight: bolder;
  background-color: #ffffff4f;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
<<<<<<< HEAD
=======
  border-radius: 5px;
  border: 2px solid #154e8b;
>>>>>>> version2
}
.imageBox {
  background-color: #ffffff4f;
  padding: 1em;
  width: 80%;
  max-width: 850px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  border-radius: 5px;
<<<<<<< HEAD
=======
  border: 2px solid #154e8b;
>>>>>>> version2
}

.input {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  min-width: 150px;
  max-width: 400px;
}
select {
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

.divContent {
  display: flex;
  justify-content: center;
}
.flexDiv {
  padding: 20% 0 0 10px;
}
.rounded {
  color: white;
  font-weight: bold;
  font-size: 26px;
}
